*{
  text-decoration: none;
  
}
body{
  background-image: url('br.webp');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
.navbar{
  background: rgb(0, 74, 106); font-family: calibri; padding-right: 15px;padding-left: 15px;
}
.navdiv{
  display: flex; align-items: center; justify-content: space-between;
}
.logo a{
  font-size: 35px; font-weight: 600; color: white;
  font-family: myfont;
}
.li1 {
  list-style: none; display: inline-block;
}
.li1 a{
  color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}


button a{
  color: white; font-weight: bold; font-size: 15px;
}
@font-face {
  font-family: myfont;
  src: url(freefont.ttf);
}
p {
  padding-left: 30%;
  padding-top: 5%;
}

.container {
  max-width: 600px;
  margin: 50px 0 50px 100px; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}

.li2 {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

a:hover {
  color: #4CAF50;
}

span {
  color: #777;
}